:root {
  --el-color-primary: var(--theme-primary);

  --el-button-text-color: var(--theme-primary);
  --el-button-border-color: var(--theme-primary);
  --el-button-bg-color: var(--theme-primary);
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--theme-button-hover-border);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
  --el-button-hover-link-text-color: var(--theme-primary-light);

  --el-link-text-color: var(--theme-primary);
  --el-link-hover-text-color: var(--theme-primary-light);

  --el-tag-hover-color: var(--theme-primary-light);
}

.el-button {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
  --el-button-hover-link-text-color: var(--theme-primary-light);
}

.el-button--primary {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--default {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--success {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--warning {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--danger {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--info {
  --el-button-hover-text-color: var(--theme-primary);
  --el-button-hover-border-color: var(--el-button-border-color);
  --el-button-hover-bg-color: var(--theme-button-hover-bg);
  --el-button-active-text-color: var(--theme-primary);
  --el-button-active-border-color: var(--theme-button-active-border);
  --el-button-active-bg-color: var(--theme-button-active-bg);
}

.el-button--link {
  --el-button-hover-text-color: var(--theme-primary-light);
  --el-button-hover-link-text-color: var(--theme-primary-light);
}

.el-button:hover,
.el-button:focus-visible {
  box-shadow: none;
}

.el-button.is-text,
.el-button.is-link {
  border-color: transparent !important;
}

.el-link {
  --el-link-text-color: var(--theme-primary);
  --el-link-hover-text-color: var(--theme-primary-light);
}

.el-tag {
  --el-tag-hover-color: var(--theme-primary-light);
  border-color: transparent;
}
