@import './tailwind.css';

@import 'element-plus/dist/index.css';
@import '@vueup/vue-quill/dist/vue-quill.snow.css';

@import 'vxe-pc-ui/lib/style.css';
@import 'vxe-table/lib/style.css';
@import '@vxe-ui/plugin-render-element/dist/style.css';

:root {
  --el-color-primary: var(--color-primary);
}

@font-face {
  font-family: FYFont;
  src: url('../font/fuyao-shoushu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化页面加载闪烁 */
}
